.pregunta1{
    background-color:blue;
}
.content-div{
    border: 1px solid aqua;
}
.pregunta2 {
    background-color:blueviolet; 
}
.pregunta3
{
    background-color: red;
}
.pregunta4
{
    color:aquamarine;
}
.pregunta5
{
   color:black;
}
.pregunta6
{
    color:brown;
}